PORT=
JWT_SECRET_KEY=
NODE_ENV=
MONGODB_URL=

# Cloudinary
CLOUDINARY_NAME=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=


# Brevo & SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=


FRONTEND_URL=
ADMIN_URL=